<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SailBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SailBot.Properties.Settings>
            <setting name="MotorComPort" serializeAs="String">
                <value>COM20</value>
            </setting>
            <setting name="BmsComPort" serializeAs="String">
                <value>COM21</value>
            </setting>
            <setting name="LedComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="NmeaComPort" serializeAs="String">
                <value />
            </setting>
        </SailBot.Properties.Settings>
    </userSettings>
</configuration>